// Header menu vertical
//
// Displays the header menu vertically

//@import '../../border/border.scss';

@mixin header-menu--vertical {
	// TODO: Add animation

	@include border(border-top);
	@include border(border-bottom);

	// Will be displayed elsewhere
	display: none;
	flex-direction: column;
	width: 100%;

	.header-menu-main {
		display: flex;
	}
}
