// Featured and related posts grid large
//
// Displays the Featured and related posts for Large screens

@mixin featured-and-related-posts-grid--large {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: var(--gutter-24);

	.post-list-title,
	.post-title,
	.post-excerpt .post-list {
		grid-column: 1 / 2;
	}

	.post-author-and-comment-count {
		display: none;
	}

	.post-featured-image {
		grid-column: 2 / 3;
		grid-row: 1 / 5;
		margin-top: 0;
	}
}
