@mixin post-format-thumb-single-index-cardguide--vertical {
	display: block;

	> * {
		@include responsive-spacing(margin-bottom, small);
	}

	.post-featured-image, .post-featured-image-with-disclosure {
		float: right;
		max-width: 230px;
		@include responsive-spacing(padding-left, small);
		@include media($small...) {
			max-width: 150px;
			margin-top: 0;
			//@include responsive-spacing(padding-top, small);
		}
	}

	.buttons {
		@include media($small...) {
			margin-top: 50px;
		}
	}
}
