// Post author with description
//
// Displays the post author with description

@mixin post-author--with-description {
	@include media('<tablet') {
		display: flex;
		flex-direction: column;

		.post-author-description {
			@include responsive-spacing(margin-top, small);
		}
	}

	@include media('>=tablet') {
		display: grid;
		grid-template-columns: 100px auto;
		grid-column-gap: var(--gutter-24);

		.post-author-avatar {
			grid-column: 1;
			grid-row: 1;
		}

		.post-author-name {
			grid-column: 1;
			grid-row: 2;
		}

		.post-author-description {
			grid-column: 2;
			grid-row: 1 / 3;
		}
	}
}
