// Reset form
//
// Resets form elements
//
// Sits on the top of normalize.css
// Source: https://stackoverflow.com/questions/33476762/reset-remove-all-styles-for-input-select-and-button-across-all-browsers-includi
//
// Select is intentionally not reset.
// See: https://codepen.io/ericrasch/pen/zjDBx

// @import '../text-style/text-style.scss';
// @import '../colors/colors.scss';

@mixin reset-form {
	button,
	input,
	optgroup,
	textarea,
	input[type='button'],
	input[type='reset'],
	input[type='submit'],
	input[type='checkbox'],
	input[type='radio'],
	input[type='number'],
	input[type='search'],
	input[type='url'] {
		@include text-style(default);
		@include colors(default);
		-webkit-appearance: none;
		border: none;

		&:not(.button) {
			border-radius: 0;
		}
	}
}
