@mixin header-desktop-l() {

	// oorkan: there's no need here to have variable named $large
	// it's pointing to >large-desktop anyways
	@include media('>large-desktop') {
		display: grid;
		$columns: 8;
		grid-template-columns: repeat($columns, 1fr);

		.logo {
			grid-column: 1 / 3;
		}

		.header-menu {
			grid-column: 3 / 8;
		}

		.social-icons {
			grid-column: 8 / 9;
		}
    }
}