// Post format plastic horizontal
//
// Displays a Plastic post format horizontally

@mixin post-format-plastic--horizontal($grid-columns) {
	display: grid;
	grid-template-columns: repeat($grid-columns, 1fr);
	grid-column-gap: var(--spacer-24);

	.post-featured-image {
		grid-column: 1 / 2;
		grid-row: 1 / 4;
	}

	.post-title,
	.post-content-plastic {
		grid-column: 2 / -1;
	}

	.post-content-plastic {
		display: grid;
		grid-template-columns: repeat($grid-columns - 1, 1fr);
		grid-column-gap: var(--gutter-24);

		> * {
			grid-column: 1 / -1;
		}

		.button {
			grid-column: 1 / 2;
		}

		.signup-bonus-text {
			margin-top: 0;
		}
	}
}
