//  Creates a star rating

// TODO: Make the entire mixin use the Design System
@mixin star-rating {
	.star {
		display: inline-block;
		width: 1.625em;
		height: 1.625em;
		margin: 0 0.25em;
		position: relative;
		vertical-align: top;

		&.half-star {
			width: calc(1.625rem / 2);
		}
	}
}
