// Flexbox grid
//
// Displays items in a grid using flexbox
//
// This is a framework component reused by many other components.
//
// The container can contain the grid title wrapped into a `<h3>`
//
// - $iepx: sometimes a -1px required to make the grid work in IE

@mixin flexbox-grid(
	$items-per-row,
	$margin-right: 0,
	$margin-bottom: 0,
	$max-items-to-display: null,
	$grid-title: false,
	$iepx: 0px
) {
	$item-flex-basis: calc(
		(100% - (#{$items-per-row} - 1) * #{$margin-right}) / #{$items-per-row} - #{$iepx}
	);
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;

	> * {
		// Now we can have padding and border for items
		box-sizing: border-box;
		margin-bottom: $margin-bottom;
		margin-right: $margin-right;

		// Only $max-items-to-display number of items will be shown
		@if ($max-items-to-display != null) {
			display: none;

			@for $i from 0 through $max-items-to-display - 1 {
				&:nth-child(#{$i + 1}) {
					display: flex;
				}
			}
		}
	}

	// Right margins
	@if ($grid-title == true) {
		> *:not(h3) {
			width: $item-flex-basis;

			&:nth-child(#{$items-per-row}n + 1) {
				margin-right: 0;
			}
		}
	} @else {
		> * {
			width: $item-flex-basis;

			&:nth-child(#{$items-per-row}n) {
				margin-right: 0;
			}
		}
	}
}
