// Frequent flyer guides
//
// Displays the frequent flyer guides section

// @import '../container/container.scss';
@import '../background-image/background-image.scss';
@import '../post-list/post-list.scss';
@import '../frequent-flyer-grid/frequent-flyer-grid.scss';
@import '../frequent-flyer-guide/frequent-flyer-guide.scss';
@import '../view-more/view-more.scss';
@import '../view-more/--small/view-more--small.scss';
@import '--view-more-active/frequent-flyer-guides--view-more-active.scss';
@import '--view-more-inactive/frequent-flyer-guides--view-more-inactive.scss';

@mixin frequent-flyer-guides($variant: none) {

	@if ($variant == 'content') {
		@include responsive-spacing('margin-top');
	}

	@include background-image;
	background-image: url('../../images/bg-white-waves.jpg');

	// Center the content on the background image
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;

	.container {
		@include container;
		@include responsive-spacing(padding-top, medium);
		@include post-list('.frequent-flyer-guides-title', null, '.guides');

		.guides {
			.guide {
				@include frequent-flyer-guide;
			}
		}

		.view-more {
			@include view-more;
			@include view-more--small;
			display: none;
		}

		@include frequent-flyer-grid;
	}

	@include media($small...) {
		@include responsive-spacing(margin-top, large);
		@include frequent-flyer-guides--view-more-active;

		&.view-more-inactive {
			@include frequent-flyer-guides--view-more-inactive;
		}
	}
}
