// Icon
//
// Displays an icon
//
// Using Icommon
//
// // NOTE: There are also plain SVG icons displayed without this mixin

// @import '../colors/colors.scss';
// @import '../icon-size/icon-size.scss';

@mixin icon($size: default, $colors: default) {
	cursor: pointer;

	.svg {
		@include colors($colors);
		@include icon-size($size);

		display: inline-block;
		stroke-width: 0;
		stroke: currentColor;
		fill: currentColor;
	}
}
