// The main styelesheet file
//
// This is where all other parts of the site are styled
// It is compiled during development by the hot module reloader
// Note that we use a combination of with and without an underscore because the sass tooling in cscode does not recongise without an underscore if a hyphen is used. A bit weird but it's important that we can easily jump in and around files within the editor.
//
@import 'globals';
@import 'header/header.scss';
@import 'header-panel/header-panel.scss';
@import 'search/search.scss';
@import 'trust-pilot/trust-pilot.scss';
@import 'newsletter/newsletter.scss';
@import 'quick-links/quick-links.scss';
@import 'footer/footer.scss';

// Sets up css variables
@include responsive-spacing-setup;
@include colors(init);

@include normalize;
@include reset-basic;

html {
	body {
		@include reset-typography;
		@include reset-wp;
		@include reset-typekit;
		@include reset-form;
		@include typography-setup;
		@include text-style(body);
		@include colors(default);

		display: flex;
		flex-direction: column;
		align-items: center;
	}
}

a {
	@include link(default);

	&.drip-toggle {
		background: none; // safe :not
	}
}

.header {
	@include header;
}

.header-panel {
	@include header-panel;
}

// |> .trust-pilot
html {
	body {
		.trust-pilot {
			@include trust-pilot;
		}
	}
}

.search {
	@include search;
}

.newsletter {
	@include newsletter;
}

.quick-links {
	@include quick-links;
}

.footer {
	@include footer;
}
