// List sub-breakout
//
// A sub-breakout style list
// See https://app.zeplin.io/project/5c7e04320037cd178eaf0ed8/screen/5c7e0be286d8b862922b9b5a

// @import '../../list-item/list-item.scss';
// @import '../../text-style/text-style.scss';

@mixin list--subbreakout {
	list-style-type: disc;
	margin-left: var(--lem);

	li {
		.icon,
		.text {
			@include text-style(body);
		}

		+ li {
			margin-top: var(--lem);
		}
	}
}
